<%-include('page-head')%>
    <%-include('header')%>

<main>
    <h2>Movie Details</h2>
    <article class="movie-details">
        <section class="movie-details-left">
            <h3><%=movie.name%></h3>
            <img src="<%=movie.image%>" alt="Poster image">
        </section>
        <section class="movie-details-right">
            <p>Score: <%=movie.myScore%>/100</p>
            <p><%=movie.description%></p>
        </section>
    </article>
</main>

    <%-include('footer')%>
<%-include('page-tail')%>